body{
    background-color: #e9e9e9;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.welcome--container {
    text-align: center; /* Centra el texto dentro del contenedor */
    padding: 20px;
    border: 1px solid; /* Opcional: agregar borde para ver el contenedor */
    border-radius: 8px;
    position: relative; /* Necesario para controlar el movimiento con translateY */
    opacity: 0; /* Comienza invisible */
    transform: translateY(-100vh); /* Comienza fuera de la pantalla (arriba) */
    transition: transform 1s ease-out, opacity 1s ease-in-out; /* Transiciones suaves */
    margin-top: 38vh; 
    width: 80%;
    border-color: transparent;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #340700;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
    font-style: italic;
}

span{
    font-family: sans-serif;
    font-style:oblique;
    color:#bb2008;
}

